---
layout: default-no-header
---

<article class="post">
    <header>
        <h1>{{page.title}}</h1>
        {% if page.date %}<time datetime="{{ page.date }}">{{ page.date | date: "%b %e, %Y" }}</time>{% endif %}
        <section class="post-details">
            {% if page.requisites %}<span class="flag-post--requisites">Requisites: {{ page.requisites }}</span>{% endif %}
            {% if page.difficulty %}<span class="flag-post--difficulty">Difficulty: {{ page.difficulty }}</span>{% endif %}
            <!-- <span class="flag-post--words">Words: {{ page.content | number_of_words }} Skip to TL;DR</span> -->
        </section>
    </header>
    {{ content }}
    <aside class="tags-wrap">
    {% for tag in page.tags %}
        <a href="/tags/{{ tag }}" title="{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
    </aside>
    {% include disqus.html %}
</article>

<section>
	<nav class="nav-posts">
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="{{page.previous.title | strip_html}}" class="nav-posts--prev"><span>&lt;</span> {{page.previous.title | strip_html}}</a>
        {% endif %}
        {% if page.next.url %}
            <a href="{{page.next.url}}" title="{{page.next.title | strip_html}}" class="nav-posts--next">{{page.next.title | strip_html}} <span>&gt;</span></a>
        {% endif %}
	</nav>
</section>