---
layout: default-no-header
---

<article class="post">
    {{ content }}
    <aside class="tags-wrap">
    {% for tag in page.tags %}
        <a href="/tags/{{ tag }}" title="{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
    </aside>
    {% include disqus.html %}
</article>

<section>
	<nav class="nav-posts">
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="{{page.previous.title | strip_html}}" class="nav-posts--prev"><span>&lt;</span> {{page.previous.title | strip_html}}</a>
        {% endif %}
        {% if page.next.url %}
            <a href="{{page.next.url}}" title="{{page.next.title | strip_html}}" class="nav-posts--next">{{page.next.title | strip_html}} <span>&gt;</span></a>
        {% endif %}
	</nav>
</section>